@model WebUI.Areas.Admin.Models.Shop.ProductVM

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<hr />

<div class="row">
    <div class="col-sm-12 col-md-5">
        <img src="/Images/Uploads/Products/@Model.Id/Thumbs/@Model.ImageName" />
    </div>
    <div class="col-sm-12 col-md-7">
        @Html.DisplayFor(model => model.Description)
        <br />
        @Html.DisplayFor(model => model.Price) $

        <div class="addtocart">
            <a href="#" class="addtocart btn btn-success">Add to Cart</a>
            <span class="loader">
                <img src="~/Images/ajax-loader.gif" height="100" width="150" />
            </span>
            <div class="ajaxmsg">
                The Product has been added to your cart.
            </div>
        </div>
    </div>
</div>
@if (Model.GalleryImages.Any())
{
    <hr />
    <div class="row">
        <h3>Product Gallery</h3>
        <div class="col-sm-12 fancyboxdiv">
            <br /><br />
            <div class="row">
                @foreach (var item in Model.GalleryImages)
                {
                    <div class="col">
                        <a class="fancybox" rel="gallery1" href="/Images/Uploads/Products/@Model.Id/Gallery/@item">
                            <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@item" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
@section Scripts{
    <link href="~/lib/fancybox/2.1.5/content/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/lib/fancybox/2.1.5/content/Scripts/jquery.fancybox.js"></script>
    <script src="~/js/ProductDetails.js"></script>

    <script>
    /********************Add to cart*********************/
    $(function () {
        $("a.addtocart").click(function (e) {
            e.preventDefault();

            $("span.loader").addClass("ib");

            var url = "/cart/AddToCartPartial";

            $.get(url, { id: "@Model.Id"}, function myfunction(data) {
                            $(".ajaxcart").html(data);
                            }).done(function () {
                                $("span.loader").removeClass("ib");
                                $("div.ajaxmsg").addClass("ib");

                                setTimeout(function () {
                                    $("div.ajaxmsg").fadeOut("fast");
                                    $("div.ajaxmsg").removeClass("ib");
                                }, 2000);
                            });
                        });
    });
    /****************************************************/
    </script>
}


