/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*///////////////////////////////////////////////////////////////////////*/
.body-content {
    margin-top: 90px;
}

input,
select,
textarea {
    max-width: 280px;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

.new-cat {
    margin-top: 30px;
    position: relative;
}

.ajax-text {
    display: none;
}

.galleryStyle {
    margin: 15px;
    height: 260px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}

    .galleryStyle:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: example;
        animation-duration: 0.25s;
        border-left: 8px solid #737373;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

@keyframes example {
    0% {
        border-left: 2px solid #ffffff;
    }

    25% {
        border-left: 3px solid #ffe6e6;
    }

    50% {
        border-left: 4px solid #d6d6d6;
    }

    100% {
        border-left: 5px solid #737373;
    }
}

.ajaxmsg {
    background-color: green;
    color: white;
    padding: 10px;
    display: none;
}

span.loader {
    display: none;
}

.ib{
    display: inline-block !important;
}
.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}

    .ajaxbg span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }

.form.paypalform {
    position: absolute;
    left: -2000px;
}